.hoveros:hover {
    background-color: hsla(50, 82%, 74%, 0.82);
}

.content {
    width: 101% !important;
    border: 1px solid red;
}

.divos {
    border: 1px solid green;
    box-shadow: 10px 10px 10px grey;
}
